*{
    margin: 5px 2px;
    background-image: linear-gradient( 108.1deg,  rgba(167,220,225,1) 11.2%, rgba(217,239,242,1) 88.9% );;
}

header{
    text-align: center;
    background: rgb(214, 27, 115);
    font-size: 40px;
    font-family: sans-serif;
}

#input{
    text-align: center;
    padding: 20px;
}
#button{
    text-align: center;
    font-family: sans-serif;
}